/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "est_definitions.h"

#define LSFT_Z        &mt LSFT Z 
#define RSFT_MINS     &mt RSFT SLASH 
#define LCTL_A        &mt LCTL A
#define RCTL_ODIA     &mt RCTL ODIA


&mt {
	flavor = "tap-preferred";
	tapping-term-ms = <150>;
	quick-tap-ms = <0>;
};

&lt {
	flavor = "hold-preferred";
	tapping-term-ms = <150>;
	quick-tap-ms = <0>;
};

/ {

	combos { 
		compatible = "zmk,combos";
		combo_esc {
			timeout-ms = <50>;
			key-positions = <0 1 2>;
			bindings = <&kp ESC>;
		};
		combo_tab {
			timeout-ms = <50>;
			key-positions = <10 11 12>;
			bindings = <&kp TAB>;
		};
		combo_adia {
			timeout-ms = <50>;
			key-positions = <18 19>;
			bindings = <&kp ADIA>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp Q    &kp W &kp E &kp R   &kp T         &kp Y &kp U &kp I     &kp O   &kp P
				LCTL_A   &kp S &kp D &kp F   &kp G         &kp H &kp J &kp K     &kp L   RCTL_ODIA
				LSFT_Z   &kp X &kp C &kp V   &kp B         &kp N &kp M &kp COMMA &kp DOT RSFT_MINS
								             &lt 4 RET &lt 3 SPC     &lt 1 ESC &kp BSPC  
				>;
		};
		sym_layer {
			bindings = <
				EE_PERC EE_BKTK EE_LBRC EE_LABK EE_SLSH   EE_BSLS EE_RABK EE_RBRC EE_AMPR &trans
				EE_PIPE EE_DQUO EE_ASTR EE_LPRN EE_LCBR   EE_RCBR EE_RPRN EE_EQLS EE_QUOT EE_DOLR
				EE_CARN EE_CIRC EE_TLDE EE_EXCL EE_ATSI   EE_HSTG EE_QSTN EE_SCLN EE_COLN EE_USCR
				                        &trans  &mo 2     &trans  &trans
				>;
		};
		keyb_layer {
			bindings = <
				&trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans
				&trans &trans &trans &trans &trans   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
				&trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans
				                     &trans &trans   &trans &trans
				>;
		};
		numnav_layer {
			bindings = <
				&kp N0 &kp N9 &kp N8 &kp N7 &kp N0   &trans &trans &trans &trans &kp BSPC
				&kp N0 &kp N6 &kp N5 &kp N4 &kp N0   &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp OTIL
				&kp N0 &kp N3 &kp N2 &kp N1 &kp N0   &trans &trans &trans &trans &kp UDIA
				                     &trans &trans   &trans &trans
				>;
		};
		num_layer {
			bindings = <
				&kp N0 &kp N9 &kp N8 &kp N7 &kp N0   &kp N0 &kp N7 &kp N8 &kp N9 &kp N0
				&kp N0 &kp N6 &kp N5 &kp N4 &kp N0   &kp N0 &kp N4 &kp N5 &kp N6 &kp N0
				&kp N0 &kp N3 &kp N2 &kp N1 &kp N0   &kp N0 &kp N1 &kp N2 &kp N3 &kp N0
				                     &trans &trans   &trans &kp N0
				>;
		};
	};
};
